<section>
  <div
    class="headline-contact"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
  >
    <div class="small-line"></div>
    <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
  </div>
  <div class="m-width-container">
    <div class="contact-container">
      <div
        class="contact-info"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
      >
        <h2 class="contact-headline-text">{{ 'CONTACT.TEXT' | translate }}</h2>
        <span class="contact-text">{{ 'CONTACT.TEXT1' | translate }}</span
        >
        <span class="contact-text">{{ 'CONTACT.TEXT2' | translate }}
          <span class="text-bold">{{ 'CONTACT.TEXT3' | translate }}</span></span
        >
      </div>
      <form
        (submit)="sendMail()"
        [formGroup]="form"
        #myForm
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        <div class="text-container">
          <div class="input-field">
            <input
              class="input-text"
              type="text"
              formControlName="name"
              name="name"
              placeholder="{{ 'CONTACT.NAMEPH' | translate }}"
              #nameField
              [ngClass]="{ invalid: f['name'].touched && f['name'].invalid }"
            />
            <img
              class="error-img"
              src="./assets/img/desktop/error.svg"
              alt=""
              [ngClass]="{ dBlock: f['name'].touched && f['name'].invalid }"
            />

            <div *ngIf="f['name'].touched && f['name'].invalid">
              <span
                class="alert"
                *ngIf="f['name'].errors && f['name'].errors['required']"
              >
              {{ 'CONTACT.NAME' | translate }}
              </span>
            </div>
          </div>
          <div class="input-field">
            <input
              class="input-text"
              type="email"
              formControlName="email"
              name="email"
              placeholder="{{ 'CONTACT.MAILPH' | translate }}"
              #emailField
              [ngClass]="{ invalid: f['email'].touched && f['email'].invalid }"
            />
            <img
              class="error-img"
              src="./assets/img/desktop/error.svg"
              alt=""
              [ngClass]="{ dBlock: f['email'].touched && f['email'].invalid }"
            />

            <div *ngIf="f['email'].touched && f['email'].invalid">
              <span
                class="alert"
                *ngIf="f['email'].errors && f['email'].errors['required']"
              >
              {{ 'CONTACT.MAIL' | translate }}
              </span>
            </div>
          </div>
          <div class="input-field">
            <textarea
              class="input-textarea"
              type="text"
              formControlName="message"
              name="message"
              placeholder="{{ 'CONTACT.MSGPH' | translate }}"
              #messageField
              [ngClass]="{
                invalid: f['message'].touched && f['message'].invalid
              }"
            ></textarea>
            <img
              class="error-img"
              src="./assets/img/desktop/error.svg"
              alt=""
              [ngClass]="{
                dBlock: f['message'].touched && f['message'].invalid
              }"
            />
            <div *ngIf="f['message'].touched && f['message'].invalid">
              <span
                class="alert"
                *ngIf="f['message'].errors && f['message'].errors['required']"
                
              >
              {{ 'CONTACT.MSG' | translate }}
              </span>
            </div>
          </div>
        </div>
        <div class="agree-and-button">
          <div class="agree-text">
            <div
              class="checkbox"
              [ngClass]="getDynamicClass()"
              (click)="isChecked = !isChecked"
            ></div>
            <div class="agree-text-container">
              <span>{{ 'CONTACT.PRIVACY' | translate }} &nbsp;</span>
              <a href="imprint">{{ 'CONTACT.LINK' | translate }}</a>
              <span>&nbsp;{{ 'CONTACT.AGREE' | translate }}</span>
            </div>
          </div>
          <div class="btn-container">
            <button
              type="submit"
              class="send-btn"
              [ngClass]="getEnabledClass()"
              #sendButton
              [disabled]="!isChecked || !form.valid"
            >
            {{ 'CONTACT.BTN' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="up">
      <a href="#"><img src="./assets/img/desktop/arrow_up.png" alt="" /></a>
    </div>
  </div>
</section>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  template="<img class='spinner' src='./assets/img/desktop/letter.gif' />"
  [fullScreen]="true"
  ><p style="color: white" >{{ 'CONTACT.SENDMSG' | translate }}</p></ngx-spinner
>
