@import "../../../assets/mixin.scss";
@import "./../../../styles.scss";

$bar-width: 30px;
$bar-height: 4px;
$bar-gap: 6px;
$burger-height: calc($bar-height * 3 + $bar-gap * 2);
$animation-timing: 200ms ease-in-out;
$x-width: calc($burger-height * 1.41421356237);

nav {
  @include dFlex(center, center);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #141d2f;
  font-weight: 500;
  color: white;
  font-size: 23px;
  font-style: normal;
  line-height: 120%;
  box-shadow: 0px 5px 12px 5px rgba(0, 0, 0, 0.39);
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container {
  @include dFlex(space-between, center);
  width: 100%;
  padding: 23px 100px;
  > span > a {
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 29px;
  > a,
  .dropbtn {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 400;
    &:hover {
      color: #00bee8;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #4b47ff;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  width: 115px;
  text-align: center;
  border-radius: 10px;

  &:hover {
    background-color: #00bee8;
    color: #4b47ff;
  }
}

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #141d2f;
  box-shadow: 0px 15px 16px 3px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.dropdown-content a {
  padding: 8px 0px;
}

.show {
  display: flex !important;
}

aside {
  visibility: hidden;
  @include dFlex(center, center);
  position: fixed;
  transition: translate $animation-timing;
  translate: +100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.burger-menu:has(input:checked) + aside {
  translate: 0;
  visibility: visible;
}

.burger-menu:has(input:checked):not(:checked) + .sidebar a:focus {
  visibility: hidden;
}

.sidebar {
  @include dFlex(center, center);
  flex-direction: column;
  gap: 30px;
  > a,
  .language {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #00bee8;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #4b47ff;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.language-container {
  display: flex;
  gap: 8px;
  color: white;
  font-size: 32px;
  font-weight: 400;
}

.burger-menu {
  visibility: hidden;
  z-index: 101;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 37px;
  right: 100px;
  gap: 6px;
  width: max-content;
  cursor: pointer;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
  content: "";
  width: $bar-width;
  height: $bar-height;
  border-radius: 100px;
  background-color: white;
  transform-origin: right center;
  transition: opacity $animation-timing, width $animation-timing,
    rotate $animation-timing, translate $animation-timing,
    background-color $animation-timing;
}

.burger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.burger-menu:has(input:checked)::before {
  rotate: -45deg;
  width: $x-width;
  translate: 0 calc($bar-height / -2);
  background-color: #00bee8;
}

.burger-menu:has(input:checked)::after {
  rotate: 45deg;
  width: $x-width;
  translate: 0 calc($bar-height / 2);
  background-color: #00bee8;
}

.burger-menu input:checked {
  opacity: 0;
  width: 0;
}

@media screen and (max-height: 768px) and (orientation: landscape) {
  .header-menu {
    display: none;
  }
  .burger-menu {
    visibility: visible;
  }
}

@media screen and (max-height: 320px) and (orientation: landscape) {
  .container {
    padding: 37px 25px;
  }
  .header-menu {
    display: none;
  }
  .burger-menu {
    visibility: visible;
    right: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .header-menu {
    display: none;
  }
  .burger-menu {
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 6px 25px;
  }
  .burger-menu {
    right: 25px;
    top: 20px;
  }
}

@media screen and (min-width: 1921px) {
  nav{
    padding-left:  max(160px, calc(50% - 960px));
    padding-right:  max(160px, calc(50% - 960px));
  }
}