<nav>
  <div class="container">
    <a href="#"><img class="logo" src="./assets/img/desktop/logo-stoli.png" alt="" /></a>
    <div class="header-menu">
      <a href="#aboutme">{{ "HEADER.ABOUT" | translate }}</a>
      <a href="#skills">{{ "HEADER.SKILLS" | translate }}</a>
      <a href="#portfolio">{{ "HEADER.PORTFOLIO" | translate }}</a>
      <div (click)="toggleDropdown()" class="dropdown">
        <div class="dropbtn">{{ "HEADER.LANGUAGE" | translate }}</div>
        <div
          *ngIf="isDropdownOpen"
          class="dropdown-content"
          [ngClass]="{ show: isDropdownOpen }"
        >
          <a (click)="changeLanguage('de')">DE</a>
          <a (click)="changeLanguage('en')">EN</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<label class="burger-menu">
  <input id="menu-input" type="checkbox" />
</label>
<aside id="siede-menu">
  <div class="sidebar">
    <a href="#aboutme">{{ "HEADER.ABOUT" | translate }}</a>
    <a href="#skills">{{ "HEADER.SKILLS" | translate }}</a>
    <a href="#portfolio">{{ "HEADER.PORTFOLIO" | translate }}</a>
    <div class="language-container">
      <a class="language" (click)="changeLanguage('de')">DE</a>
      <span>|</span>
      <a class="language" (click)="changeLanguage('en')">EN</a>
    </div>
  </div>
</aside>
