<section>
    <div class="aboutme-left">
        <h1>About me</h1>
        <div class="aboutme-info-container">
            <div>Hi, i am a Fullstack Developer based in Plochingen, Germany.</div>
            <div class="info-content">
                <img class="lamp" src="./../../../assets/img/desktop/leuchte.svg" alt="">
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum temporibus reprehenderit quidem animi odio fugiat ullam mollitia! Ad veniam necessitatibus pariatur vero odio officia soluta architecto dolore, sunt eaque consequuntur!</span>
            </div>
            <div class="info-content">
                <img class="puzzle" src="./../../../assets/img/desktop/puzzle.svg" alt="">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto repudiandae recusandae natus numquam dicta, modi sint officiis non qui tempore doloribus consectetur maiores voluptatibus neque impedit incidunt quisquam aspernatur velit.</span>
            </div>
        </div>
    </div>
    <div class="abouteme-right">
        <div class="shadow-aboutme"><img src="./../../../assets/img/shadows/1_shadow.png" alt=""></div>
        <div class="profile-img-container">
            <div class="profile-circle"><img class="profile-circle-img" src="../../../assets/img/desktop/portfolio_komp.jpg" alt=""></div>
            <div class="line-to-profile-circle-img"></div>
        </div>
    </div>
</section>
