<section>
  <div class="m-width">
    <div
      class="aboutme-left"
      data-aos="fade-right"
      data-aos-duration="300"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
    >
      <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
      <div class="aboutme-info-container">
        <span>{{ 'ABOUT.TEXT' | translate }}</span>
        <div class="info-content">
          <img
            class="lamp"
            src="./assets/img/desktop/leuchte.svg"
            alt=""
          />
          <span>{{ 'ABOUT.TEXT1' | translate }}</span>
        </div>
        <div class="info-content">
          <img
            class="puzzle"
            src="./assets/img/desktop/puzzle.svg"
            alt=""
          />
          <span>{{ 'ABOUT.TEXT2' | translate }}</span>
        </div>
      </div>
    </div>
    <div
      class="abouteme-right"
      data-aos="fade-left"
      data-aos-duration="300"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
    >
      <div class="profile-img-container">
        <div class="profile-circle">
          <img
            class="profile-circle-img"
            src="./assets/img/desktop/portfolio_komp.jpg"
            alt=""
          />
        </div>
        <div class="line-to-profile-circle-img"></div>
      </div>
    </div>
  </div>
  <div class="shadow-aboutme">
    <img src="./assets/img/shadows/1_shadow.png" alt="" />
  </div>
</section>
