<section>
  <div class="m-width">
    <div class="container">
      <div class="left-side">
        <div class="image-container">
          <img
            class="double-shadow"
            src="./assets/img/shadows/two_shadows.png"
            alt=""
          />
          <img
            class="profile-img"
            src="./assets/img/desktop/portfolio.png"
            alt=""
            data-aos="zoom-in"
            data-aos-duration="1000"
          />
        </div>
      </div>
      <div class="right-side">
        <div class="headline-contrainer">
          <div class="headline-info">
            <div class="headline-rotate">
              <span
                class="animate__animated animate__slideInDown "
                >{{ "PAGE.IAM" | translate }}</span
              >
            </div>
            <div class="headline-text">
              <span
                class="name animate__animated animate__slideInDown "
                >Igor Stoleski</span
              >
              <span
                class="dev-color animate__animated animate__slideInUp "
                >{{ "PAGE.DEV" | translate }}</span
              >
            </div>
          </div>
          <div
            class="contact-btn animate__animated animate__slideInUp "
          >
            <a href="#contact">{{ "PAGE.TALK" | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wave"></div>
  </div>
  <div class="social-info-container">
    <div class="social-info">
      <div class="line"></div>
      <div class="social-links">
        <a href="https://github.com/IgorStoleski" target="_blank"><img src="./assets/img/desktop/github.svg" alt="" /></a>
        <a href="https://www.linkedin.com/in/igor-stoleski-5419a01a5/" target="_blank"><img src="./assets/img/desktop/linkedin.svg" alt="" /></a>
        <a href="https://www.xing.com/profile/Igor_Stoleski/web_profiles" target="_blank"
          ><img class="xing" src="./assets/img/desktop/xing.svg" alt=""
        /></a>
      </div>
      <span class="email-contact">igor.stoleski&#64;mail.de</span>
    </div>
  </div>
  <div class="scroll-down">
    <span
      >{{ "PAGE.SCROLL" | translate }}<img src="./assets/img/desktop/arrow-down-line.svg" alt=""
    /></span>
  </div>
</section>
