@import "../../../assets/mixin.scss";
@import "./../../../styles.scss";

section {
  @include dFlex(center, center);
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 96px);
}

.m-width {
  @include dFlex(center, end);
  width: 100%;
  padding-top: 200px
}

.container {
  @include dFlex(center, center);
  width: 100%;
}

.image-container {
  @include dFlex(center, center);
  width: 646px;
  height: 705px;
}

.left-side {
  @include dFlex(center, center);
  flex-direction: column;
  position: relative;
  .profile-img {
    width: 485px;
    z-index: 1;
  }
}

.double-shadow {
  position: absolute;
}

.social-info-container {
  @include dFlex(space-between, center);
  width: 100%;
  height: 40px;
  gap: 42px;
  z-index: 3;
  .social-info {
    display: flex;
    align-items: center;
    gap: 42px;
    .line {
      height: 2px;
      width: 100px;
      border: 2px solid #4b47ff;
    }
    > span {
      color: white;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

.scroll-down {
  @include dFlex(center, center);
  position: absolute;
  right: 40px;
  bottom: 120px;
  color: white;
  z-index: 3;
  animation: scrollDown 5s infinite;
  > span {
    @include dFlex(center, center);
    gap: 3px;
    transform: rotate(90deg);
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    > img {
      transform: rotate(-90deg);
      width: 24px;
      height: 24px;
    }
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.social-links {
  width: 150px;
  @include dFlex(space-between, center);
}

.xing {
  width: 30px;
}

.right-side {
  height: 705px;
}

.headline-contrainer {
  @include dFlex(center, center);
  flex-direction: column;
  .contact-btn {
    text-align: center;
    margin-top: 44px;
    height: 58px;
    width: 165px;
    padding: 15px 30px;
    border-radius: 10px;
    background: #00bee8;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 3;
    cursor: pointer;
    &:hover {
      background: #4b47ff;
      transform: scale(1.1);
    }
    > a {
      text-decoration: none;
      color: white;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

.headline-info {
  display: flex;
  height: 172px;
  gap: 35px;
  color: white;
  z-index: 3;
  .headline-rotate {
    @include dFlex(start, end);
    width: 152px;
    height: 175px;
    transform: rotate(-90deg);
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .headline-text {
    @include dFlex(center, center);
    flex-direction: column;
    .name {
      font-size: 90px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
    .dev-color {
      color: #4b47ff;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

.wave {
  background-image: url("./../../../assets/img/wave/wave.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 0;
  position: absolute;
  top: 250px;
  z-index: 2;
}

@media (max-width: 1500px) {
  .m-width {
    max-width: $m-width-Laptop;
    gap: 50px;
  }
  .headline-info {
    height: unset;
    gap: 10px;
    .headline-rotate {
      height: 88px;
      width: 83px;
      font-size: 24px;
    }
    .headline-text {
      .name {
        font-size: 45px;
      }
      .dev-color {
        font-size: 29px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .m-width {
    max-width: $m-width-Tablet;
    padding-top: 140px;
  }
  .container {
    flex-direction: column;
    .right-side {
      z-index: 3;
      height: unset;
    }
  }
  .wave {
    top: 200px;
  }
  .scroll-down {
    display: none !important;
  }
  .social-info-container {
    padding: 70px 0;
  }
}

@media (max-width: 1024px) {
  .left-side .image-container .profile-img {
    width: 400px;
  }
  .left-side .image-container .double-shadow {
    width: 600px;
  }
}

@media only screen and (max-height: 768px) and (orientation: landscape)  {
  .m-width {
    padding-top: 20px;
  }
  .right-side {
    padding-top: 200px;
  }
  .left-side .image-container .profile-img {
    width: 400px;
  }
  .left-side .image-container .double-shadow {
    width: 600px;
  }
}

@media screen and (width: 375px) and (height: 667px) {
  .m-width {
    padding-top: 200px;
  }
  .m-width .container .left-side .image-container .profile-img {
    width: 220px;
  }
}

@media only screen and (max-height: 320px) and (orientation: landscape) {
  .m-width {
    padding-top: 20px;
  }
  .right-side {
    padding-top: 200px;
  }
  .wave {
    top: 350px;
  }
  .left-side .image-container .profile-img {
    width: 400px;
  }
  .left-side .image-container .double-shadow {
    width: 400px;
    top: 60px;
  }
  .social-info-container {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .m-width {
    padding-top: 200px;
  }
  .left-side {
    padding-top: 0;
    .image-container {
      width: unset;
      height: 300px;
      padding-top: 130px;
      .double-shadow {
        width: 500px;
      }
      .profile-img {
        width: 300px;
        padding-top: 50px;
      }
    }
  }
  .m-width .container {
    padding-top: 0;
  }
  .right-side {
    padding-top: 50px;
    height: 400px;
  }
  .wave {
    top: 50px;
  }
}

@media (max-width: 600px) {
  .email-contact {
    display: none;
  }
  .double-shadow {
    width: 480px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .m-width {
    align-items: center;
    padding-top: 100px;
  }
  .container .right-side {
    padding-top: 0;
  }
  .social-info-container {
    padding: 50px 0;
  }
  .headline-contrainer {
    max-width: 300px;
  }
  .headline-info {
    align-items: center;
  }
  .headline-info .headline-rotate {
    width: 64px;
    height: 65px;
    font-size: 18px;
  }
  .headline-info .headline-text {
    width: 222px;
  }
  .headline-info .headline-text .name {
    font-size: 35px;
  }
  .headline-info .headline-text .dev-color {
    font-size: 19px;
  }
  .left-side .image-container .double-shadow {
    width: 300px;
    top: 25px;
  }
}