<section>
  <div class="container">
    <div class="left-side">
      <div class="image">
        <img
          class="double-shadow"
          src="../../../assets/img/shadows/two_shadows.png"
          alt=""
        />
      </div>
      <img
          class="profile-img"
          src="./../../../assets/img/desktop/portfolio.png"
          alt=""
        />
    </div>
    <div class="right-side">
      <div class="headline-contrainer">
        <div class="headline-info">
          <div class="headline-rotate">
            <span>I am</span>
          </div>
          <div class="headline-text">
            <span class="name">Igor Stoleski</span>
            <span class="dev-color">FULLSTACK DEVELOPER</span>
          </div>
        </div>
        <div class="contact-btn"><a href="#">Let's Talk</a></div>
      </div>
    </div>
  </div>
  <img class="wave" src="./../../../assets/img/wave/wave.png" alt="">
  <div class="social-info-container">
    <div class="social-info">
      <div class="line"></div>
      <div class="social-links">
        <a href=""><img src="./../../../assets/img/desktop/github.svg" alt=""></a>
        <a href=""><img src="./../../../assets/img/desktop/linkedin.svg" alt=""></a>
        <a href=""><img class="xing" src="./../../../assets/img/desktop/xing.svg" alt=""></a>
      </div>
      <span>igor.stoleski&#64;mail.de</span>
    </div>
    <div class="scroll-down">
      <span>scroll down<img src="./../../../assets/img/desktop/arrow-down-line.svg" alt=""></span>
      
    </div>
  </div>
</section>
