<div class="shadow-container">
  <img src="./assets/img/shadows/3_3_shadow.png" alt="" />
</div>
<section>
  <div class="m-width-container">
    <div class="skill-icon-container">
      <div
        class="skill-container-section"
        data-aos="zoom-in-up"
        data-aos-duration="300"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        <div
          *ngFor="let item of skillIcons1; let i = index"
          class="skill-icons"
        >
          <img
            src="./assets/img/desktop/{{ skillIcons1[i].icon }}"
            alt=""
          />
          <span>{{ skillIcons1[i].name }}</span>
        </div>
      </div>
    </div>
    <div
      class="myskill-container"
      data-aos="fade-left"
      data-aos-duration="300"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
    >
      <div class="myskill-container-info">
        <div class="skill-headline">
          <h2>{{ 'SKILLS.TITLE' | translate }}</h2>
          <div class="myskill-line-mobile"></div>
        </div>
        <span>{{ 'SKILLS.TEXT' | translate }}</span>
        <div class="contact-btn desktop-btn"><a href="#contact">{{ 'SKILLS.BTN' | translate }}</a></div>
      </div>
      <div class="myskill-line"></div>
    </div>
  </div>
  <div class="mobile-btn"><div class="contact-btn"><a href="#contact">{{ 'SKILLS.BTN' | translate }}</a></div></div>
</section>
