@import "../../../../styles.scss";
@import "./../../../../assets/mixin.scss";

section {
  @include dFlex(center, center);
  width: 100%;
  margin-bottom: 150px;
  overflow: hidden;
  gap: 40px;
}

.project-img {
  width: 620px;
  height: 339px;
  > img {
    @include dFlex(center, center);
  }
}

.project-info-container {
  @include dFlex(flex-end, flex-start);
  flex-direction: column;
  gap: 35px;
}

.project-info {
  @include dFlex(start, start);
  flex-direction: column;
  gap: 15px;

  h2 {
    color: #4b47ff;
    width: 196px;
    height: 42.821px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .technologies {
    color: #00bee8;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .description {
    color: white;
    width: 513px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.btn-to-links {
  display: flex;
  height: 65.359px;
  align-items: flex-start;
  gap: 86px;
  flex-shrink: 0;
  .live-test {
    @include dFlex(center, center);
    padding: 15px 30px;
    gap: 10px;
    border-radius: 10px;
    background: #4b47ff;
    cursor: pointer;
    &:hover {
      background: #00bee8;
    }
    > a {
      color: white;
      text-decoration: none;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
  .github-link {
    @include dFlex(center, center);
    padding: 15px 30px;
    gap: 10px;
    border-radius: 10px;
    border: solid 1px #00bee8;
    cursor: pointer;
    &:hover {
      background: #00bee8;
    }
    > a {
      color: white;
      text-decoration: none;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

.odd {
  flex-direction: row-reverse;
  .project-info-container,
  .project-info {
    @include dFlex(end, end);
  }
  .description {
    text-align: end;
  }
  .btn-to-links {
    @include dFlex(flex-end, end);
    gap: 86px;
  }
}

@media screen and (max-width: 1920px) {
  section {
    max-width: $m-width-Desktop;
  }
}

@media screen and (max-width: 1500px) {
  section {
    max-width: $m-width-Laptop;
  }
}

@media screen and (max-width: 1200px) {
  section {
    max-width: $m-width-Tablet;
    flex-direction: column;
    .project-img {
      width: unset;
      height: 339px;
    }
    .project-info {
      text-align: center;
      align-items: center;
    }
    .project-info-container {
      align-items: center;
    }
  }
  .odd {
    flex-direction: column;
    .project-info-container,
    .project-info {
      @include dFlex(center, center);
    }
    .description {
      text-align: center;
    }
    .btn-to-links {
      @include dFlex(center, center);
    }
  }
}

@media screen and (max-width: 815px) {
  section {
    .project-img {
      width: 400px;
      height: 300px;
      > img {
        width: 400px;
        height: 300px;
      }
    }
  }
  .project-info .description {
    width: 400px;
  }
  .projekt-info-container {
    width: 400px;
    height: 500px;
  }
  .btn-to-links {
    gap: 6px;
  }
  .odd {
    .btn-to-links {
      gap: 6px;
    }
  }
}

@media screen and (max-width: 500px) {
  section {
    max-width: $m-width-Tablet;
  }
}

@media screen and (max-width: 480px) {
  section {
    max-width: $m-width-Mobile;
    .project-img {
      width: 300px;
      height: 200px;
      > img {
        width: 300px;
        height: 200px;
      }
    }
  }
  .project-info .description {
    width: 300px;
  }
  .projekt-info-container {
    width: 300px;
    height: 400px;
  }
  .btn-to-links {
    gap: 4px;
  }
  .odd {
    .btn-to-links {
      gap: 4px;
    }
  }
}
