<footer>
  <div class="container">
    <div class="logo-container">
      <a href="#"><img class="logo" src="./assets/img/desktop/logo-stoli.png" alt="" /></a>
      <a class="desktop-imprint" href="imprint">{{
        "FOOTER.IMPRINT" | translate
      }}</a>
    </div>
    <div>&#169; Igor Stoleski 2024</div>
    <div class="social-links">
      <a href="https://github.com/IgorStoleski" target="_blank"
        ><img src="./assets/img/desktop/github.svg" alt=""
      /></a>
      <a href="https://www.linkedin.com/in/igor-stoleski-5419a01a5/" target="_blank"
        ><img src="./assets/img/desktop/linkedin.svg" alt=""
      /></a>
      <a href="https://www.xing.com/profile/Igor_Stoleski/web_profiles" target="_blank"
        ><img class="xing" src="./assets/img/desktop/xing.svg" alt=""
      /></a>
    </div>
  </div>
  <div class="mobile-imprint">
    <a href="imprint">{{ "FOOTER.IMPRINT" | translate }}</a>
  </div>
</footer>
