@import "../../../styles.scss";
@import "../../../assets/mixin.scss";

footer {
  @include dFlex(center, center);
  color: white;
  width: 100%;
  border-top: 4px solid #00BEE8;
}

.logo-container {
  @include dFlex(center, center);
  flex-direction: column;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.container {
  @include dFlex(space-between, center);
  width: 100%;
  padding: 0 100px;
  height: 291px;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: white;
}

.social-links {
    width: 150px;
    @include dFlex(space-between, center);
}

.xing {
    width: 30px;
}

.mobile-imprint {
  display: none;
}


@media (max-width: 768px) {
  footer {
    @include dFlex(center, center);
    flex-direction: column;
  };
  .container {
    @include dFlex(center, center);
    flex-direction: column;
    gap: 35px;
    padding: 0 20px;
    .desktop-imprint {
      display: none;
    }
  }
  .mobile-imprint {
    display: flex;
    padding-bottom: 73px;
  }
}
