<footer>
    <div class="container">
        <div>
            <div>
                <div>Igor</div>
                <a class="desktop-imprint" href="imprint">Imprint</a>
            </div>
        </div>
        <div>&#169; Igor Stoleski 2024 </div>
        <div class="social-links">
            <a href=""><img src="./../../../assets/img/desktop/github.svg" alt=""></a>
            <a href=""><img src="./../../../assets/img/desktop/linkedin.svg" alt=""></a>
            <a href=""><img class="xing" src="./../../../assets/img/desktop/xing.svg" alt=""></a>
        </div>
    </div>
    <div class="mobile-imprint"><a href="imprint">Imprint</a></div>
</footer>