<section>
  <div class="portfolio-container">
    <div
      class="headline"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
    >
      <div class="small-line-left"></div>
      <h2 class="headline-text">{{ 'PORTFOLIO.TITLE' | translate }}</h2>
      <div class="large-line-right"></div>
    </div>
  </div>
  <h3
    class="portfolio-text"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
  >
  {{ 'PORTFOLIO.TEXT' | translate }}
  </h3>
  <app-projects></app-projects>
</section>
