<section>
  <div
    class="portfolio-container"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
  >
    <div class="headline">
      <div class="small-line-left"></div>
      <h2 class="headline-text">Portfolio</h2>
      <div class="large-line-right"></div>
    </div>
  </div>
  <h3
    class="portfolio-text"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
  >
    This page is a sample of my work - please feel free to try them out.
  </h3>
  <app-projects></app-projects>
</section>
